@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  max-width: 320px;
  font-family: "Montserrat", sans-serif;
}
.background {
  /* display: flex;
  flex-direction: column; */
  background-repeat: no-repeat;
  background-image: url("img/main-bg.png");
}
.header {
  padding: 20px 10px;
}
.header a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
.promo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.promo-text {
  margin-bottom: 30px;
}
.promo p {
  font-size: 14px;
  line-height: 17px;
}
.promo .location {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
}
.promo-header {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.promo-button {
  padding: 16px 40px 16px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  background-color: #64e2cd;
  background-clip: padding-box;
  border: 15px solid rgba(100, 226, 205, 0.5);
  border-radius: 50px;
}
.circle {
  box-sizing: border-box;
  align-self: center;
  width: 231px;
  height: 231px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  border-radius: 50%;
  background: radial-gradient(
      68.31% 68.31% at 50% 50%,
      #f9fbff 0%,
      #cadef9 100%
    ),
    #ffffff;
  box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
  text-align: center;
}
.circle p {
  font-size: 14px;
  line-height: 27px;
  color: #2f80ed;
}
.circle .rate {
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
}
.statistics {
  margin-top: 25px;
  padding-bottom: 65px;
}
.statistics-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.statistics-list {
  padding-top: 67px;
  padding-right: 20px;
  padding-left: 20px;
}
.statistics-item {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 20px;
  width: 280px;
  height: 235px;
  background: #ffffff;
  box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
}
.statistics-item p {
  font-size: 14px;
  line-height: 20px;
  color: #636363;
}
.statistics-percent {
  display: block;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #2f80ed;
}
.target-customers {
  padding: 50px 53px 50px 65px;
  background: rgba(47, 128, 237, 0.05);
  border-radius: 0 0 0 100px;
}
.target-customers-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.target-customers-professions-item {
  margin-bottom: 25px;
}
.target-customers-professions-item p {
  font-size: 14px;
  line-height: 20px;
  color: #636363;
}
.target-customers-professions-item .customer-profession {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f80ed;
}
.program-course {
  margin-top: 60px;
  margin-bottom: 40px;
  /* padding: 50px 43px 50px 65px; */
}
.program-course-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.summary {
  padding-top: 60px;
  padding-left: 65px;
  padding-right: 20px;
}
.summary-item {
  margin-bottom: 40px;
}
.summary-item p {
  font-size: 14px;
  line-height: 20px;
  color: #636363;
}
.summary-item .summary-item-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f80ed;
}
.program-course-read-more {
  margin-left: 65px;
}
.program-course-read-more a {
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f80ed;
  text-decoration: none;
  border-bottom: 2px dashed #2f80ed;
}
.course-result {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #2f80ed;
}
.course-result-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.course-result-list {
  box-sizing: border-box;
  margin-top: 45px;
  padding-right: 10px;
  padding-left: 10px;
}
.course-result-item {
  box-sizing: border-box;
  padding: 160px 40px 56px 60px;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 60px 56px;
}
.course-result-item:first-child {
  background-image: url("img/customer-result1.png");
}
.course-result-item:nth-child(2) {
  background-image: url("img/customer-result2.png");
}
.course-result-item:nth-child(3) {
  background-image: url("img/customer-result3.png");
}
.course-result-item:last-child {
  background-image: url("img/customer-result4.png");
}
.course-result-item p {
  font-size: 14px;
  line-height: 25px;
  color: #636363;
}
.course-result-item .course-result-profits {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f80ed;
}
.trust-me {
  padding: 50px 10px 40px 10px;
}
.trust-me video {
  border-radius: 10px;
}
.trust-me-list {
  box-sizing: border-box;
  margin-top: 39px;
  padding-top: 1px;
}
.trust-me-item {
  padding-top: 130px;
  margin-bottom: 5px;
  padding-left: 70px;
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: 70px 40px;
  background-image: url("img/trust-me1.png");
}
.trust-me-item p {
  font-size: 16px;
  line-height: 23px;
  color: #636363;
}
.trust-me-item .trust-me-profits {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2f80ed;
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(47, 128, 237, 0.05);
}
.reviews-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}
.reviews-list {
  margin: 50px 10px 35px 10px;
}
.reviews-item {
  margin-top: 35px;
}
.opinion {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 20px 40px 50px;
  box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
}
.opinion p {
  font-size: 14px;
  line-height: 24px;
  color: #636363;
}
.opinion .opinion-header {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #636363;
}
.clipper {
  margin-top: 15px;
  width: 74px;
  height: 74px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.reviews-user-image {
  width: 118px;
  height: 79px;
  left: -10px;
  position: absolute;
}
